{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-react",
    "plugin:jest/recommended",
    "prettier"
  ],
  "plugins": ["react", "jest", "prettier"],
  "env": {
    "es6": true,
    "jest/globals": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "react/prop-types": ["off"],
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error"
  }
}
